<div class="andar"> 
  <div class="menu-predio"> 
    <img alt="image" src="views/public/img/predio.png" data-component="crn-image" id="crn-image-predio" class="predio-img"> 
    <button class="button-voltar" ng-click="cronapi.screen.changeView('#/home/logged/predio', [])">Voltar</button> 
  </div> 
  <div class="planta"> 
    <span class="title">Andar Nº X</span> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info1" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info2" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info3" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info4" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info5" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info6" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info7" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info8" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info9" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info10" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info11" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info12" ng-click="cronapi.client('js.blockly.andar.Andar.AbrirModal').run()"> 
    <img alt="image" src="views/public/img/planta-andar.png" data-component="crn-image" id="crn-image-691058"> 
  </div> 
</div> 
<div class="modal fade modal-andar" id="modal-andar-vaga" style=""> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="component-holder modal-header"> 
        <div class="list-group list-group-sm row"> 
          <div data-container="true" data-replace="true" class="modal-title-row"> 
            <span class="modal-title">Sala Nº X</span> 
            <div class="component-holder ng-scope col-md-12" data-component="crn-icon" id="crn-icon-409608" ng-click="cronapi.client('js.blockly.andar.Andar.FecharModal').run()" style="text-align: right;"> 
              <i class="font-size-default color-default fa fa-close modal-icon-x" icon-size="font-size-default" icon-theme="color-default"></i> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="modal-body"> 
        <div class="list-group list-group-sm row"> 
          <div data-container="true" data-replace="true"> 
            <span class="modal-servidores-row"> <img class="info" alt="image" src="views/public/img/servidores.png"> <span class="servidores-title">Servidores (03)</span> </span> 
            <table> 
              <thead> 
                <tr> 
                  <th scope="col">Nome</th> 
                  <th scope="col">Ramal</th> 
                  <th scope="col">Cargo</th> 
                  <th scope="col">Unidade Administrativa</th> 
                </tr> 
              </thead> 
              <tbody> 
                <tr> 
                  <td>João Silva</td> 
                  <td>111</td> 
                  <td>Procurador</td> 
                  <td>Procuradoria Geral</td> 
                </tr> 
                <tr> 
                  <td>Joana Tavares</td> 
                  <td>222</td> 
                  <td>Gerente</td> 
                  <td>Núcleo Estratégico</td> 
                </tr> 
                <tr> 
                  <td>Higor Reis</td> 
                  <td>333</td> 
                  <td>Gerente</td> 
                  <td>Gerência de Contabilidade</td> 
                </tr> 
              </tbody> 
            </table> 
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
</div>