<div class="predio"> 
  <div class="menu-container"> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">15º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">14º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">13º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">12º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">11º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">10º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">9º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">8º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">7º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">6º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">5º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">4º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">3º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">2º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/andar', [])">1º Andar</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/subsolo', [])">1º Subsolo</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/subsolo', [])">2º Subsolo</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/subsolo', [])">3º Subsolo</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/subsolo', [])">4º Subsolo</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/subsolo', [])">5º Subsolo</button> 
    <button class="menu-button" ng-click="cronapi.screen.changeView('#/home/logged/subsolo', [])">6º Subsolo</button> 
    <img alt="image" src="views/public/img/predio-unico.png" data-component="crn-image" id="crn-image-603380" class="predio-img"> 
    <img alt="image" src="views/public/img/blue-box.png" data-component="crn-image" id="crn-image-603380123" class="blue-box-img"> 
  </div> 
</div>