<div class="subsolo"> 
  <div class="menu-predio"> 
    <img alt="image" src="views/public/img/predio.png" data-component="crn-image" id="crn-image-predio" class="predio-img"> 
    <button class="button-voltar" ng-click="cronapi.screen.changeView('#/home/logged/predio', [])">Voltar</button> 
  </div> 
  <div class="planta"> 
    <span class="title">Subsolo Nº X</span> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info1" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info2" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info3" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info4" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info5" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info6" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info7" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info8" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info9" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info10" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info11" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info12" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info13" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info14" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info15" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info16" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info17" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info18" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info19" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info20" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info21" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info22" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info23" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img class="info" alt="image" src="views/public/img/info.png" id="info24" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.AbrirModal').run()"> 
    <img alt="image" src="views/public/img/planta-subsolo.png" data-component="crn-image" id="crn-image-subsolo"> 
  </div> 
</div> 
<div class="modal fade modal-subsolo" id="modal-subsolo-vaga" style=""> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="component-holder modal-header"> 
        <div class="list-group list-group-sm row"> 
          <div data-container="true" data-replace="true" class="modal-title-row">
             <span class="modal-title">Vaga Nº X </span>
            <div class="component-holder ng-scope col-md-12" data-component="crn-icon" id="crn-icon-40960800" style="text-align: right;" ng-click="cronapi.client('js.blockly.subsolo.Subsolo.FecharModal').run()"> 
              <i class="font-size-default color-default fa fa-close modal-icon-x" icon-size="font-size-default" icon-theme="color-default"></i> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="modal-body"> 
        <div class="list-group list-group-sm row"> 
          <div data-container="true" data-replace="true">
             <div class="container-list">
                 <span class="title-list">Tipo</span>
                 <span class="content-list">Reservada</span>
             </div>
             <div class="container-list">
                 <span class="title-list">Servidor Ocupante</span>
                 <span class="content-list">João Silva (Procurador)</span>
             </div>
             <div class="container-list">
                 <span class="title-list">Veículo</span>
                 <span class="content-list">Fiat/Pulse (Branco) - JKK0956</span>
             </div>
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
</div>