@import "predio.css";
@import "andar.css";
@import "subsolo.css";

.main-view {
    box-shadow: none !important;
    background: none !important;
    margin: 0px !important;
}

.navbar {
    background: #13294B !important;
}

.menu-ham {
    width: 30px !important;
    height: 20px !important;
    margin-right: 32px;
}

.main-view-vertical {
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 100% !important;
}


@media (max-width: 767px) {
    .hide-on-mobile {
        display: none !important;
    }
    .main-view {
        padding: 12px 16px !important;
    }
}


@media (min-width: 768px) {
    .hide-on-desktop {
        display: none !important;
    }
}